.title-banner {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.842);
}

.title-banner > h1 {
  font-size: 32px;
  font-weight: 500;
}

.breadcrums > a {
  color: rgba(255, 255, 255, 0.695);
  text-decoration: none;
}

.breadcrums > a:hover {
  text-decoration: underline;
}
